@media screen and (max-width:1024px) {

    .container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .description p {
        font-size: 100%;
    }

    .gallery {
        grid-auto-rows: 240px;
        width: 90%;
    }

    .box {
        grid-column: span 3;
        grid-row: span 1;
    }

}